<html>
<head></head>
<body style="font-family:SimSun;">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>保密协议</title>
<div class="content">
    <div>
        <h3 style="font-weight: bold; text-align: center; font-size: 24px;">保密协议</h3>
        <br></br>
        <p>甲方：<span class="hire_end_date"></span></p>
        <p>法定代表人：<span id="hire_end_date1"></span></p>
        <p>住址：<span id="hire_end_date31"></span></p>
    </div>
    <div>
        <br></br>
        <br></br>
    </div>

    <div>
        <p>乙方：<span id="hire_ernd_date"></span></p>
        <p>身份证号：<span id="hire_end_datee1"></span></p>
        <p>通讯住址：<span id="hire_end_dratee31"></span></p>
        <p>联系电话：<span id="hire_ernd_date31"></span></p>
        <p>个人邮箱：<span id="hire_endr_date31"></span></p>
    </div>
    <div>
        <br></br>
        <br></br>
    </div>

    <div>
        <p style="text-indent: 2em;">根据《 中华人民共和国劳动合同法》、《中华人民共和国反不正当竞争法》等国家有关规定和甲方有关规章制度，甲乙双方遵循平等自愿、协商一致的原则，明确双方
            的权利义务，就乙方在任职期间及离职以后的商业秘密保护和竞业限制事宜达成如下
            协议，以资共同遵守：
        </p>
        <h4 style="font-weight: bold;">&nbsp;&nbsp;一、保密义务</h4>
        <p>
            &nbsp;&nbsp;（一）本协议所称保密，指乙方受聘于甲方期间及在其离职后的二年内（无论乙方因何种原因离职），对所知悉的甲方秘密信息负有保守秘密的义务。</p>
        <p>
            &nbsp;&nbsp;（二）本协议所称知悉，包括乙方在履行本职工作中知悉的和在甲方工作期间通过其它途径知悉的甲方秘密信息。</p>
        <p>&nbsp;&nbsp;（三）
            本协议所称保密义务，适用于乙方在甲方工作过程中所知悉的甲方秘密信息，
            除对因履行工作职责而应知悉本协议所称秘密信息的甲方人员外，乙方不得擅自以任
            何形式直接或者间接、有意或者无意地向其他任何第三方（包括按照甲方保密规定不
            得知悉该项秘密的甲方其他员工）泄露其秘密信息，或者帮助任何第三方使用，或者
            为自己在甲方本职工作之外的目的使用。</p>
        <p>
            &nbsp;&nbsp;（四）当第三方公司、个人或机构使用甲方秘密信息而对甲方构成侵权时，如果有证据表明该秘密信息全部或者部分来自乙方，亦视同乙方违约。</p>
        <p>&nbsp;&nbsp;（五）乙方承诺，在为甲方履行职务时，不得擅自使用或侵犯任何属于他人的技术
            秘密或其他商业秘密。如因乙方原因导致甲方遭受第三方的侵权指控或给甲方造成损失的，甲方有权要求乙方赔偿。
        </p>
        <h4 style="font-weight: bold;">&nbsp;&nbsp;二、保密秘密信息的内容</h4>
        <p>2.离职当天为您开具《离职证明》，如不需要请提前说明；</p>
        <p>3.工资薪金支付至 <span id="salary_end_date"></span>，此后停薪；</p>
        <p>4.社会保险费缴纳至 <span id="soc_insurance_end_date"></span>办理转出；</p>
        <p>5.住房公积金缴纳至 <span id="house_fund_end_date"></span>办理封存入管或转至下家（需与离职时告知的完全一致，并告知单位公积金账户名称和账户号信息）；
        </p>
        <p>6.企业年金缴至 <span id="company_fund_end_date"></span>办停缴；</p>
        <p>7.员工离职后不受竞业限制，但仍继续履行保密协议义务。</p>
        <div class="sign" id="sign_name"></div>
        <div class="sign_date" id="sign_date"></div>
    </div>
    <div class="schedule">
        <h3>离职手续办理确认单（附表）</h3>
        <p class="contentP">请您提供如下信息，并确保离职后一年内有效。如有任何变更，请及时联络分公司/营业部相关人员。</p>
        <p>联系手机：</p>
        <p>联系地址：</p>
        <p>本人知悉并确认同意如上内容，与中信证券股份有限公司不存在未了结的争议和纠纷，不存在薪酬结算异议或客户纠纷，与公司的劳动关系自
            <span id="hire_end_date2"></span>起解除，同时将继续在离职后一年内对中信证券公司（含分支机构）承担保密义务。在签署本函后，本人愿意放弃任何潜在的或实际存在的、针对中信证券（含分支机构）及/或其关联公司的争议、纠纷或权利请求。
        </p>
        <p>员工确认签署：</p>
        <p>日期： </p>
    </div>
</div>

<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script>
    $(function () {
        setTimeout(function () {

            let dateDiv = document.querySelector(".hire_end_date");
            dateDiv.innerHTML = "cessss";

        })
    })
</script>
</body>
<style>


</style>
</html>